<tr>
<td>
  <%= link_to family_member.survivor.profile.formatted_name, 
              :controller => 'family_members', 
              :action => 'show', :id => family_member.id %>
</td>
<td><%= family_member.survivor.survivor_updates.last.status %></td>
<td><%=  family_member.survivor.survivor_updates.last.updated_at.strftime(fmt='%b %d @ %I:%M %p') %></td>
<td><%= family_member.relashionship %></td>
<td>
<%= family_member.survivor.survivor_updates.size %> (<%= link_to 'add new update', :controller => 'survivor_updates', :action => 'new', :survivor_id =>  family_member.survivor.id %>)
</td>
<td>
<% share_title = "#{family_member.survivor.profile.formatted_name}'s #{link_to app_name, people_finder_url} information" %>
<%
  share_description = %{#{link_to app_name, people_finder_url} is an online Facebook application that can help you locate friends and family (we call them survivors because we are hopeful they are) who were in Haiti when the earthquake of January 12, 2010 hit the island nation.}
%>
<%= _fb_share_button :meta,
                    :metas => [{:name => 'medium', :content => "blog"},
                               {:name => 'title', :content => share_title},
                               {:name => 'description', :content => share_description}],
                    :links => [{:rel => 'target_url',
                    :href => "#{people_finder_url}/survivors/show/#{family_member.survivor.id}"}] %>
</td>
<td>
  <%= link_to 'Show', :controller => 'family_members', 
                      :action => 'show', :id => family_member.id %> |
    <%= link_to 'Edit', :controller => 'family_members', :action => 'edit', :id => family_member.id %> |
    <%= link_to 'Remove', :controller => 'family_members', :action => 'remove', :id => family_member.id %>
</td>
</tr>