<%= fb_title "List of family member" %>

<h3>
List of family members
<% unless @family_members.empty? %>
  <%= link_to image_tag('feed-icon.jpg', :size => "14x14", :border => 0), "#{people_finder_raw_url}/feeds/family_members?user_id=#{current_user.id}" %>
<% end %>
</h3>

<br/>
<%= render :partial => 'family_members_list', 
           :locals => {:family_members => @family_members} %>
<br/><small><div style='text-align: right'><%= pluralize @family_members.total_entries, 'family member' %></div></small></br>
<%= will_paginate @family_members %>