<%= fb_title 'FAQs' %>

<h3>Frequently Asked Questions</h3>

<p>
We are collecting a list of frequently asked questions and answers to help bootstrap your use of <%= app_name %>
</p>

<blockquote>
<br/>

<ol>

<li><b>What is <%= app_name %>?</b></li>
<p>
<%= app_name %> is an on-line community of Facebook users who are concerned about friends and family in the aftermath of the <%= disaster_date %> <%= disaster_type %> in <%= disaster_country_name %>.
</p>
<br/>

<li><b>I have an idea for a new feature or want to provide other feedback to the IBM MentorMe developer team. How do I do that?</b></li>

<p>
Click on <a href='http://www.facebook.com/apps/application.php?api_key=8090a7f445674bafcd40039ad728a4a5'>"Help & Feedback"</a> and provide feedback via the <a href='http://www.facebook.com/apps/application.php?api_key=8090a7f445674bafcd40039ad728a4a5'>Discussion Board</a>.
</p>

</ol>
</blockquote>
