<%= fb_title 'Latest news' %>

<h3>Latest News</h3>

<p>
Latest news related to the <%= app_name %> Facebook application
</p>

<blockquote>
<br/>

<ol>

<li><b>Version <%= version %> released</b></li>
<p>
This is the first release of the app developed after the <%= disaster_date %> <%= disaster_date %> in <%= disaster_country_name %>.  During that period please post your feedback to the <%= link_to 'Help and Feedback', fb_about_url %> forum.
</p>

</ol>
</blockquote>

