<%= fb_title 'Privacy Policy' %>

<h3><%= app_name %> Privacy Policy</h3>

<p>
Welcome to the <%= app_name %> application on Facebook.  Eugene Michael Maximilien (EMM) takes the protection of personal information seriously. By using or accessing <%= app_name %>, you are accepting the practices described in this <%= app_name %> Privacy Policy and you agree to comply with the requirements of the <%= link_to "#{app_name} Terms of Use", :controller => 'welcome', :action => 'tou' %>.
</a>

<p>
<%= app_name %> is an on-line community of Facebook users who are concerned about family and friends who are missing the aftermath of the January 12th, 2010 earthquake in Haiti.
</p>

<p>
EMM may collect certain non-identifiable information from your visits to, or use of, <%= app_name %>.   For example, we may keep track of visitor activity on <%= app_name %> but will do so in ways that keep the information non-identifiable.  This information is sometimes known as “clickstream data”.  EMM or its Providers may use this date to analyze trends and statistics.  Facebook may also collect clickstream data relating to <%= app_name %> and may provide the data it collects to EMM.  In addition, EMM logs certain other data to help us support the <%= app_name %> application and keep it functioning properly.  EMM will not collect information through cookies.  However, Facebook may collect information through use of cookies. See Facebook’s privacy policy at <a href='http://www.facebook.com/policy.php'>http://www.facebook.com/policy.php</a>.
</p>

<p>
In addition, EMM and its Providers may extract information from your postings (for example, alma mater, degree, area of study) and combine such information with information from other postings to analyze such information, at an aggregate level and without identifiable information, to help us understand trends and patterns and to further facilitate activities and offerings that are of interest and value to mentors and mentees generally.
</p>

<p>
EMM is a global organization, with legal entities, business processes, management structures, and technical systems that cross borders.  Our privacy practices are designed to provide protection for your personal information, all over the world. We may share your personal information within EMM and transfer it to countries in the world where we do business. Some countries may provide less legal protection for your information.  In such countries, EMM will still handle information in the manner we describe here. EMM implements appropriate measures and processes to help us to keep your information secure and to maintain its quality
</p>

<p>
Any misuse of information provided via <%= app_name %> should be reported to <a href='mailto:maxim@us.ibm.com?subject=EMM <%= app_name %> Privacy Policy'>univrel@us.ibm.com</a>.
</p>

<p>
Please be aware that in certain circumstances, it is possible that personal information may be subject to disclosure pursuant to judicial or other government subpoenas, warrants, or orders.  In addition, we may share personal information where we believe it is necessary to comply with laws, to protect our interests or property, or to prevent fraud or other illegal activity. 
</p>

<p>
Except as provided herein, personal information will not be sold to or shared with third parties.
</p>

<p>
If you have a question about this privacy policy or EMM’s handling of your information gathered from your use of <%= app_name %>, you can sent an email to EMM at univrel@us.ibm.com. If you wish to obtain a copy of particular information you provided to EMM, or if you become aware the information you provided is incorrect and you would like us to correct it, please contact us at <a href='mailto:univrel@us.ibm.com?subject=EMM <%= app_name %> Pivacy Policy'>univrel@us.ibm.com</a>.
</p>

<small>
This privacy policy is effective as of January 13, 2010.  This privacy policy was last updated on January 31, 2009.   A notice will be posted on this webpage for 30 days whenever this privacy policy is changed in a material way.
</small>
