<%= fb_title 'Privacy Policy' %>

<h3><%= app_name %> Privacy Policy</h3>

<p>
Welcome to the People Finder application (“People Finder”). This People Finder application was launched by IBM (“IBM” or the “Host” as used herein) in order to create a place where Facebook users can obtain or add information about friends and family present in <%= disaster_country_name %> when the <%= disaster_type %> of <%= disaster_date %> hit.
</p>

<p>
The Host takes the protection of personal information seriously. By using or accessing People Finder, you are accepting the practices described in this Privacy Policy and you agree to comply with the requirements of the People Finder Terms of Use.
</p>

<p>
The Host may collect certain non-identifiable information from your visits to, or use of, People Finder.   For example, the Host may keep track of visitor activity on People Finder but will do so in ways that keep the information non-identifiable.  This information is sometimes known as “clickstream data”.  The Host or its providers may use this date to analyze trends and statistics.  Facebook may also collect clickstream data relating to People Finder and may provide the data it collects to Host.  In addition, the Host logs certain other data to help us support the People Finder application and keep it functioning properly.  The Host will not collect information through cookies.  However, Facebook may collect information through use of cookies. See Facebook’s privacy policy at <a href='http://www.facebook.com/policy.php'>http://www.facebook.com/policy.php</a>.
</p>

<p>
Host is a global organization, with legal entities, business processes, management structures, and technical systems that cross borders.  Our privacy practices are designed to provide protection for your personal information, all over the world. We may share your personal information within Host and transfer it to countries in the world where we do business. Some countries may provide less legal protection for your information.  In such countries, Host will still handle information in the manner we describe here. Host implements appropriate measures and processes to help us to keep your information secure and to maintain its quality.
</p>

<p>
By using this application, certain portions of your Facebook profile, at a minimum your user ID, will be communicated to the application. Host uses this limited profile information so that it can list application participants.   When a user of this application inputs information about a victim or survivor this application creates a profile for such person which the user inputting the information about the missing person can fill in. Other users of this application (or the person him or herself if on Facebook) can also add information to create or modify the profile of the survivor or victim. The information in those profiles is displayed through the application and shared with Twitter and Google.  Host does not use the information in the profiles of survivors or victims that are created by users for any purpose other than displaying through the application and sharing with other social sites.
</p>

<p>
Any misuse of information provided via People Finder should be reported to <%= mail_to contact_email, contact_email %>.
<p>

<p>
Please be aware that in certain circumstances, it is possible that personal information may be subject to disclosure pursuant to judicial or other government subpoenas, warrants, or orders.  In addition, we may share personal information where we believe it is necessary to comply with laws, to protect our interests or property, or to prevent fraud or other illegal activity. 
</p>

<p>
Except as provided herein, personal information will not be sold to or shared with third parties.
</p>

<p>
If you have a question about this privacy policy or the Host’s handling of your information gathered from your use of People Finder, you can send an email to <%= mail_to contact_email, contact_email %>.
</p>

<p>
If you wish to obtain a copy of particular information you provided through this application, or if you become aware the information you provided is incorrect and you would like it corrected, please contact us at <%= mail_to contact_email, contact_email %>.
This privacy policy is effective as of March 18, 2011  This privacy policy was last updated on March 18, 2011.   A notice will be posted on this webpage for 30 days whenever this privacy policy is changed in a material way.
</p>