<p>
  <b>No. users:</b> <%=h stat.users_count %><br/>
  <b>No. mentos:</b> <%=h stat.mentors_count %><br/>
  <b>No. mentees:</b> <%=h stat.mentees_count %><br/>
  <b>No. mentors/mentees pairing:</b> <%=h stat.mentor_mentees_count %><br/>
  <b>No. Makocha Minds users:</b> <%=h stat.makocha_minds_count %><br/>
  <b>No. total sessions:</b> <%=h stat.mentoring_sessions_count %><br/>
  <b>No. current sessions:</b> <%=h stat.current_mentoring_sessions_count %><br/>
  <b>No. upcoming sessions:</b> <%=h stat.upcoming_mentoring_sessions_count %><br/>
  <b>No. completed sessions:</b> <%=h stat.completed_mentoring_sessions_count %><br/>
</p>
