<%= fb_title "My friends" %>

<h3>
Listing your friends
<% unless @friends.empty? %>
  <%= link_to image_tag('feed-icon.jpg', :size => "14x14", :border => 0), "#{haiti_quake_survivors_raw_url}/feeds/friends?user_id=#{current_user.id}" %>
<% end %>
</h3>
<% unless @friends.empty? %>
  <br/>
  <%= render :partial => 'friends/friends_list', 
             :locals => {:friends => @friends} %>
  <%= will_paginate @friends %>
<% else %>
  <br/>
  <small>You have no friends listed, browse the <%= link_to 'survivors', :controller => 'survivors', :action => 'index' %> list to add them</small>
<% end %>