<%= error_messages_for :location %>

<% form_for(location) do |f| %>
  <p>
    <b>Location name: </b><%= f.text_field :name, :size => 45 %> 
  </p>
  <p>
    <b>Kind: </b><%=  collection_select :location, :kind, Location::KINDS, :to_s, :to_s %>
    <b>Location nickname: </b><%= f.text_field :nickname, :size => 17 %> <small>(optional)</small><br/>
  </p>
  <p>
  <b>Picture URL: </b>
  <%= f.text_field :picture_url, :size => 49 %><small>(optional)</small><br/>
  <b>Web site URL: </b>
  <%= f.text_field :web_site_url, :size => 47 %><small>(optional)</small><br/>
  </p>
  <p>
    <b>Description</b> <small>optional short description for location</small><br />
    <%= f.text_area :description, :rows => 7, :cols => 46 %>
  </p>
  <p>
    <b>Street 1: </b>
    <%= f.text_field :street1, :size => 54 %><br/>
    <b>Street 2: </b>
    <%= f.text_field :street2, :size => 54 %>
  </p>
  <p>
    <b>City: </b>
    <%= f.text_field :city, :size => 58 %><small>e.g., <%= "#{disaster_city_name}" %> </small>
  </p>
  <p>
    <b>Country</b>
    <%= country_select :location, :country, ["#{disaster_country_name}"] %><br/>
  </p>
  <p>
  
  <p>
    <%= f.submit "#{form_action}" %>
  </p>
<% end %>